apiVersion: v1
kind: Service
metadata:
  name: report-service
  labels:
    app: report-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3004"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3004
    protocol: TCP
    name: http
  - port: 8084
    targetPort: 3004
    protocol: TCP
    name: metrics
  selector:
    app: report-service
