apiVersion: v1
kind: Service
metadata:
  name: market-data-service
  namespace: default
  labels:
    app: market-data-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3001"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: http
  - port: 8081
    targetPort: 3001
    protocol: TCP
    name: metrics
  selector:
    app: market-data-service
